.folder-card {
  padding: 0.5rem 0;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.2s ease;
  min-height: 40px;
  display: flex;
  align-items: center;
}

.folder-card-button {
  all: unset;
  width: 100%;
  height: 100%;
  display: block;
  color: var(--navbar-text-color);
  font-weight: 500;
  text-align: left;
  cursor: pointer;
  position: relative;
  transition: color 0.2s ease;
}

.folder-card-button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background-color: var(--navbar-hover-color);
  transition: width 0.3s ease;
}

.folder-card.selected .folder-card-button {
  color: var(--navbar-hover-color);
}

.folder-card.selected .folder-card-button::after {
  width: 100%;
}