.recycle-bin-page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.recycle-bin-main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(0.75rem, 2vw, 1.5rem);
  width: 100%;
  max-width: min(1200px, 90%);
  margin-inline: auto;
  margin-bottom: 2rem;
  box-sizing: border-box;
}

.tasks-list-section {
  box-sizing: border-box;
  border: 1px solid var(--navbar-border-color);
  border-radius: var(--border-radius);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: var(--gap-standard);

  transform: translateY(30px);
  opacity: 0;
  animation: fadeInContainer 0.8s ease forwards;
}

.tasks-list-section .task-cards-wrapper {
  padding: 0 var(--padding-standard) var(--padding-standard);
  display: flex;
  flex-direction: column-reverse;
  gap: calc(var(--gap-standard) / 2);
}

.tasks-list-section .task-card-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1px dashed var(--navbar-border-color);

  position: relative;
  overflow: hidden;

  animation: fadeInSlideIn var(--animation-duration-task-appear) ease forwards;
}

.tasks-list-section .task-card-container:first-child {
  /* es el primero y no el último, porque tengo el flex-direction en column reverse */
  border-bottom: none;
}

.tasks-list-section .task-recover-delete-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  min-width: 50px;
  min-height: 25px;
}

.tasks-list-section .task-recover-delete-container button {
  all: unset;
  min-width: 25px;
  min-height: 25px;
  transition: transform 0.2s ease;
}

.tasks-list-section .task-recover-delete-container button:hover {
  transform: translateX(-2px);
  cursor: pointer;
}

@media (max-width: 800px) {
  .recycle-bin-main-content {
    padding-bottom: var(--navbar-mobile-height);
  }
}
