.recycle-bin-page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.recycle-bin-page .recycle-bin-main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(0.75rem, 2vw, 1.5rem);
  width: 90%;
  margin-inline: auto;
  margin-bottom: 2rem;
  box-sizing: border-box;
}

.recycle-bin-page .tasks-list-section {
  width: 100%;
  min-height: 100px;
  box-sizing: border-box;
  border: 1px solid var(--navbar-border-color);
  border-radius: var(--border-radius);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: var(--gap-standard);
}

.recycle-bin-page .tasks-list-section .task-cards-wrapper {
  padding: 0 var(--padding-standard);
  display: flex;
  flex-direction: column-reverse;
  gap: calc(var(--gap-standard) / 2);
}

.recycle-bin-page
  .tasks-list-section
  .task-cards-wrapper
  .no-disabledTasks-message {
  color: var(--navbar-text-color);
  opacity: 0.7;
  font-size: 0.8em;
  text-align: center;
  padding: 1rem;
}

.recycle-bin-page .tasks-list-section .task-card-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1px dashed var(--navbar-border-color);
  position: relative;
  overflow: hidden;
}

.recycle-bin-page .tasks-list-section .task-card-container:first-child {
  border-bottom: none;
}

.recycle-bin-page .tasks-list-section .task-recover-delete-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  min-width: 50px;
  min-height: 25px;
}

.recycle-bin-page .tasks-list-section .task-recover-delete-container button {
  all: unset;
  min-width: 25px;
  min-height: 25px;
  transition: transform 0.2s ease;
}

.recycle-bin-page
  .tasks-list-section
  .task-recover-delete-container
  button:hover {
  transform: translateX(-2px);
  cursor: pointer;
}

@media (max-width: 800px) {
  .recycle-bin-main-content {
    padding-bottom: var(--navbar-mobile-height);
  }
}
