.header {
  background: linear-gradient(
    135deg,
    var(--navbar-active-color) 0%,
    var(--navbar-bg-color) 100%
  );
  padding: var(--padding-standard) calc(var(--padding-standard) * 2);
  border-left: 6px solid var(--navbar-hover-color);
  border-radius: var(--border-radius);
  margin: calc(var(--gap-standard) * 1.5) 0 calc(var(--gap-standard) * 2) 0;
  color: var(--navbar-text-color);
  font-family: var(--font-family);
  user-select: none;

  width: min(max(1200px, 60%), 90%);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  position: relative;
  overflow: hidden;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  letter-spacing: -0.5px;
}

.subtitle {
  font-size: 1rem;
  color: #444;
  margin-top: 0.25rem;
}