.pomodoro-sidebar {
  max-width: min(400px, 28vw);
  min-width: 0;
  box-sizing: border-box;
  border: 1px dashed lightcoral; /* testing - BORRAR */
  padding: 1rem; /* testing - BORRAR O MODIFICAR */
}

@media (max-width: 1150px) {
  .pomodoro-sidebar {
    display: none;
  }
}
